__pycache__/
.ipynb_checkpoints/
runs
.idea/
.DS_Store
plots/
eval_plots/
images/
exp/
exp_multirun/
results/
results_multirun/
results_approximator/
results_approximator_multirun/
rollout_data*/
rollout_data_comparison*/
video_logs*/
video_demos*/